<div class="ml-3 sm:ml-9 w-11/12 h-screen">
    <div class="grid grid-cols-3 min-w-full border rounded">
            <div class="col-span-1 bg-white border-r border-gray-300">
                <div class="my-3 mx-3 ">
                    <div class="relative text-gray-600 w-full h-full  focus-within:text-gray-400">
                    </div>
                </div>

                <ul class="overflow-auto">
                    <h2 class="ml-2 mb-2 text-gray-600 text-lg my-2">Chats</h2>
                    <li>
                        <% unless @conversations.nil? %>
                        <% @conversations.each do |conversation| %>
                                <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                                    <% if conversation.sender_id == current_user.id %>
                                        <% recipient = User.find(conversation.recipient_id) %>
                                    <% else %>
                                        <% recipient = User.find(conversation.sender_id) %>
                                    <% end %>

                                    <% recipient_attr = (recipient.profile.blank?) ? recipient.email : recipient.profile.firstname %>
                                    <%= link_to "<div class='w-full pb-2'>
                                        <div class='flex justify-between'>
                                            <span class='block ml-2 font-semibold text-base text-gray-600'> #{recipient_attr}</span>
                                        </div></div>".html_safe, conversation_messages_path(conversation), class: "#{(conversation.id == params[:conversation_id].to_i) ? 'bg-gray-100' : 'bg-white-100'} border-b border-gray-300 px-3 py-2 cursor-pointer flex items-center text-sm focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out" %>
                                <% end %>
                            <% end %>
                        <% end %>
                        
                    </li>
                </ul>
            </div>
            <div class="col-span-2 bg-white">
                <div class="w-full">
                    <div class="flex items-center border-b border-gray-300 pl-3 py-3">
                    <% recipient = User.find(@conversation.recipient_id) %>
                        <% unless recipient.profile.blank? %>
                            
                            <% if recipient.profile.image.attached? %>
                            <%= image_tag recipient.profile.image, class: "h-10 w-10 rounded-full object-cover"
                            %>
                            <% end %>
                            <span class="block ml-2 font-bold text-base text-gray-600"><%= recipient.firstname %></span>
                        <% else %>
                            <span class="block ml-2 font-bold text-base text-gray-600"><%= recipient.email %></span>
                        <% end %>
                    </div>
                    <div id="chat" class="w-full overflow-y-auto p-10 relative h-auto" >
                        <ul>
                            <li class="clearfix2">
                                <% if @over_ten %>
                                    <%= link_to 'Show Previous', '?m=all' %>
                                <% end %>

                                <% @messages.each do |message| %>
                                    <% if message.body %>
                                    <% user = User.find(message.user_id) %>

                                <div class="w-full flex <%= (message.user_id == current_user.id) ? 'justify-end' : 'justify-start' %>">
                                    <div class="bg-gray-100 rounded px-5 py-2 my-2 text-gray-700 relative" style="max-width: 300px;">
                                        <span class="block"><%= message.body %></span>
                                        <span class="block text-xs text-right"><%= message.message_time %></span>
                                    </div>
                                </div>
                                
                                    <% end %>
                                <% end %>
                            </li>
                        </ul>
                    </div>
                    <%= form_for [@conversation, @message], class: "w-9/12" do |f| %>
                    <div class="w-full py-3 px-3 flex items-center justify-between border-t border-gray-300">
                            <%= f.text_field :body, class: "py-2 mx-3 pl-5 block w-full rounded-full bg-gray-100 outline-none focus:text-gray-700", autocomplete: "off", required: true, placeholder: "Write a message..." %>
                            <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
                            <%= f.button "<i class='fas fa-paper-plane text-gray-400 h-7 w-7 origin-center'></i>".html_safe, type: "submit", class: "outline-none focus:outline-none" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>