<div class="flex justify-center my-6">
    <div class="flex flex-col w-full p-8 rounded-lg text-gray-800 bg-white bg-opacity-20 shadow-lg pin-r pin-y md:w-4/5 lg:w-4/5">

    <%= form_with(model: listing) do |form| %>

        <!-- Error Handling -->
        <% if listing.errors.any? %>
            <%= render "shared/error_handling", model: listing %>
        <% end %>

        <div class="flex">
            <div class="grid w-11/12 md:w-9/12 lg:w-1/2">
                <div class="flex justify-center py-4">
                    <div class="flex bg-red-200 rounded-full md:p-4 p-2 border-2 border-purple-300">
                    <i class="fas fa-wine-glass-alt"></i>
                    </div>
                </div>

                <div class="flex justify-center">
                    <h1 class="text-red-900 font-bold md:text-2xl text-xl"><%= local_assigns[:heading] %></h1>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label :name, "Name:", class: "uppercase md:text-sm text-xs text-light font-semibold" %>
                    <%= form.text_field :name, class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-red-800 focus:border-transparent", placeholder: "Example: Frogmore Creek Iced Riesling 375mL" %>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label :region_id, "Region:", class: "uppercase md:text-sm text-xs text-light font-semibold" %>
                    <%= form.select :region_id, Region.pluck(:name, :id), class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-red-800 focus:border-transparent" %>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label :vintage, "Vintage (Year):", class: "uppercase md:text-sm text-xs text-light font-semibold" %>
                    <%= form.number_field :vintage, class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-red-800 focus:border-transparent", placeholder: "Example: 2012" %>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label :category_id, "Wine Category:", class: "uppercase md:text-sm text-xs text-light font-semibold" %>
                    <%= form.select :category_id, Category.pluck(:name, :id), class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-red-800 focus:border-transparent" %>

                    <%# <%= form.text_field :category_id, value: Category.find(listing.category_id).name, class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-red-800 focus:border-transparent", list: 'categories', placeholder: "Example: Chardonnay" %>
                    <!-- datalist id="categories">
                        <% Category.all.each do |category| %>
                            <option value="<%= category %>"></option>
                        <% end %>
                    </datalist> % -->
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label :description, "Description:", class: "uppercase md:text-sm text-xs text-light font-semibold" %>
                    <%= form.text_area :description, class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-pink-800 focus:border-transparent", placeholder: "Example: A savoury ice wine" %>
                </div>

                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label :price, "Price (AUD $):", class: "uppercase md:text-sm text-xs text-light font-semibold" %>
                    <%= form.number_field :price, class: "py-2 px-3 rounded-lg border-2 border-red-200 mt-1 focus:outline-none focus:ring-2 focus:ring-pink-800 focus:border-transparent", step: 0.01, placeholder: "Example: 2012" %>
                </div>


                <div class="grid grid-cols-1 mt-5 mx-7">
                    <%= form.label "Upload Photo", class: "uppercase md:text-sm text-xs text-light font-semibold mb-1" %>
                    <div class='flex items-center justify-center w-full'>
                        <label class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-pink-100 hover:border-red-900 group'>
                            <div class='flex flex-col cursor-pointer items-center justify-center pt-7'>
                                <% if @listing.image.attached? %>
                                    <%= image_tag url_for(@listing.image), class: "-mt-14", style: "object-fit: contain; max-width: 8rem; max-height: 8rem;" %>
                                <% else %>
                                    <i class="fas fa-images text-4xl text-red-900 group-hover:text-red-800"></i>
                                    <p class='lowercase text-sm group-hover:text-gray-800 pt-1 tracking-wider'>Select a photo</p>
                                <% end %>
                            </div>
                        <%= form.file_field :image, class: "hidden" %>
                        </label>
                    </div>
                </div>

                <div class='flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5'>
                    <%= link_to(button_tag("Cancel", class: "w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2"), :back)  %>
                    <%= form.submit(class: "w-auto bg-red-900 hover:bg-red-800 rounded-lg shadow-xl font-medium text-white px-4 py-2" ) %>
                </div>
            </div>
        </div>
    <% end %>
  </div>
</div>