<div class="container">
<%= form_with(model: @listing, url: listing_create_path, method: "post") do |form| %>
    <h1 class="pt-16 text-2xl font-bold antialiased">Create a Listing</h1><br/><br/>
    
    <%= form.label :name, "Name:", class: "font-bold" %>
    <%= form.text_field :name, class: "pl-2", placeholder: "Example: Frogmore Creek Iced Riesling 375mL" %>
    <br/><br/>
    
    <%= form.label :category_id, "Category:", class: "font-bold" %>
    <%= form.select :category_id, Category.pluck(:name, :id) %>
    <br/><br/>

    <%= form.label :region_id, "Region:", class: "font-bold" %>
    <%= form.select :region_id, Region.pluck(:name, :id) %>
    <br/><br/>

    <%= form.label :vintage, "Vintage (Year):" %>
    <%= form.number_field :vintage, class: "pl-2", placeholder: "Example: 2012" %>
    <br/><br/>

    <%= form.label :description, "Description:" %>
    <%= form.text_area :description, class: "pl-2", placeholder: "Example: A savoury ice wine" %>
    <br/><br/>

    <%= form.label :price, "Price (AUD $):" %>
    <%= form.number_field :price, class: "pl-2", placeholder: "Example: 2012" %>
    <br/><br/>
    
    <%= form.label "Image" %>
    <%= form.file_field :image %>
    <br/><br/>

    <label></label>
    <%= form.submit "Create New Listing" %>
<% end %>
</div>

<script>
// document.getElementById("listing-image-preview").addEventListener("change", loadFile);

//   var loadFile = function(event) {
//     var output = document.getElementById('listing-image-preview');
//     output.src = URL.createObjectURL(event.target.files[0]);
//     output.onload = function() {
//       URL.revokeObjectURL(output.src) // free memory
//     }
//   };
</script>