<section class="min-h-screen flex items-stretch text-white z-2">
    <%= render "devise/shared/banner" %>
    <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0" style="background-color: #161616;">
        <div class="w-full py-6 z-20">
          <h1 class="text-3xl pb-8 text-white font-bold text-center tracking-wide">Change your password</h1>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>

                <div class="pb-2 pt-4">
                    <i>(leave blank if you don't want to change it)</i><br />
                    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "block w-full p-4 text-lg rounded-lg bg-black" %>
                    <% if @minimum_password_length %>
                    <em>Password length: (<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                </div>

                <div class="pb-2 pt-4">
                    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "block w-full p-4 text-lg rounded-lg bg-black", autocomplete: "new-password" %>
                </div>

                <div class="px-4 pb-2 pt-4">
                    <%= f.submit "Update", class: "uppercase block w-full p-4 text-lg rounded-full bg-red-700 hover:bg-red-900 focus:outline-none" %>
                </div>

            <% end %>

            <div class="text-center text-gray-400">
              <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</section>