<section class="min-h-screen flex items-stretch text-white z-2">
    <%= render "devise/shared/banner" %>

    <div class="lg:w-1/2 w-full flex items-center justify-center text-center md:px-16 px-0 z-0" style="background-color: #161616;">
      
        
        <div class="w-full py-6 z-20">
          <h1 class="text-3xl pb-8 text-white font-bold text-center tracking-wide">Sign In</h1>
            <%= render "devise/shared/oauths" %>
            
            <p class="text-gray-100">or use email your account</p>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "sm:w-2/3 w-full px-4 lg:px-0 mx-auto") do |f| %>
                <div class="pb-2 pt-4">
                    <%= f.email_field :email, autofocus: true, placeholder: "E-mail", autocomplete: "email", class: "block w-full p-4 text-lg rounded-lg bg-black" %>
                </div>

                <div class="pb-2 pt-4">
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "block w-full p-4 text-lg rounded-lg bg-black" %>
                </div>

                <div class="text-center text-gray-400 hover:underline hover:text-gray-100">
                <% if devise_mapping.rememberable? %>
                    <%= f.label :remember_me, class: "inline cursor-pointer" %>
                    <%= f.check_box :remember_me %>
                <% end %>
                </div>

                <div class="px-4 pb-2 pt-4">
                    <%= f.submit "Sign In", class: "uppercase block w-full p-4 text-lg rounded-full bg-red-700 hover:bg-red-900 focus:outline-none" %>
                </div>

                <div class="text-center text-gray-400">
                    <%= render "devise/shared/links" %>
                </div>
            <% end %>
        </div>
    </div>
</section>