<h1 class="ml-10 sm:ml-40 pt-16 text-2xl font-bold antialiased">Your <%= params[:action].capitalize %></h1>

<div class="overflow-x-auto">
        <div class="min-w-screen min-h-screen flex justify-center font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Image</th>
                                <th class="py-3 px-6 text-left">Item</th>
                                <th class="py-3 px-6 text-left">Price</th>
                                <th class="py-3 px-6 text-left">Qty</th>
                                <th class="py-3 px-6 text-left">Total</th>
                                <th class="py-3 px-6 text-left"><%= (params[:action] == "sales") ? "Buyer" : "Seller" %></th>
                                <th class="py-3 px-6 text-left">Order Date</th>
                                
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-md font-light">
                        <% @transactions.each do |transaction| %>
                            <%  if transaction.listing.present? # A debug feature to prevent failures, as not all transactions had a listing attached previously %>
                            
                                <tr class="border-b border-gray-200 hover:bg-gray-100">
                                    
                                    <td class="py-3 px-6 text-left whitespace-nowrap">
                                        <div class="flex items-center">
                                            <div class="mr-2">
                                                
                                            </div>
                                            <span class="font-medium">
                                            <% if transaction.listing.present? %>
                                                <%= image_tag transaction.listing.image, class: "w-24 h-24", style: "object-fit: contain; max-width: 5rem; max-height: 5rem;" %>
                                            <% end %>
                                            </span>
                                        </div>
                                    </td>

                                    <td class="py-3 px-6 text-left">
                                        <%= link_to transaction.listing, listing_path(transaction.listing), target: :_blank, class: "hover:text-red-800" %>
                                    </td> 


                                    <td class="py-3 px-6 text-left">
                                        <%= number_to_currency(transaction.listing.price/100) %>
                                    </td>

                                    <td class="py-3 px-6 text-left">
                                        <%= transaction.quantity %>
                                    </td>

                                    <td class="py-3 px-6 text-left">
                                        <%= number_to_currency(transaction.listing.price * transaction.quantity.to_i / 100) %>
                                    </td>


                                    <td class="py-3 px-6 text-left">
                                        <div class="flex items-center">
                                            <div class="mr-2">
                                                <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                                            </div>
                                            <span><%= link_to((params[:action] == "sales") ? transaction.buyer.email : transaction.buyer.email, "#", class: "hover:text-red-800", target: :_blank) %></span>
                                        </div>
                                    </td>

                                    <td class="py-3 px-6 text-left">
                                        <%= transaction.created_at.strftime("%d-%b-%Y %l:%M %p") %>
                                    </td>
                                </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>