<!DOCTYPE html>
<html>
  <head>
    <title>WineSales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="page-header">
      🍷 
      <%= link_to "Home", root_path %> | 
      <%= link_to "About", about_path %> | 

      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
      <% else %>
        <%= link_to "Login", new_user_session_path %> | 
        <%= link_to "New User", new_user_registration_path %> 
      <% end%>
      🍷
    </nav>

    <div class="notices container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>

  </body>
</html>