<!DOCTYPE html>
<html>
  <head>
    <title>WineSales</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <nav class="navbar md:flex-no-wrap">
    <label for="navbar-toggle-cbox" id="navbar-toggle-label"><i class="fas fa-bars burger"></i>
      </label>
      <input type="checkbox" id="navbar-toggle-cbox">
    <ul>
      <span class="dash"> 🍷 </span> 
      <li><%= link_to "Home", root_path %></li><span class="dash"> | </span> 
      <li><%= link_to "About", about_path %></li><span class="dash"> | </span> 

      <% if user_signed_in? %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li><span class="dash"> | </span> 
        <li><%= link_to "New User", new_user_registration_path %></li> 
      <% end%>
      <span class="dash"> 🍷 </span> 
      </ul>
      

    </nav>

    <div class="notices container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>

  </body>
</html>